In [1]:
import pandas as pd
from obs.models import Observation
df = pd.DataFrame(list(Observation.objects.all().filter(type_id=29)
                       .values()))

ImportError: No module named 'obs'

In [5]:
!ls

admin.json		   auth_user_May_2017.json  obs
admin_latest.json	   data			    obs20171110.json
atlasbiowork		   db.json		    obs.json
atlas.json		   db_latest.json	    obs_latest.json
auth.groups_May_2017.json  db_May_2017.json	    obs_observation_latest.csv
auth.json		   infiltration.csv	    obs_site_latest.csv
auth_latest.json	   manage.py		    query1.ipynb
auth_user_latest.csv	   notebooks

In [4]:
comment = Observation(observer_id=1,parentobs_id=7178, site_id=861,type_id=29, values={'comment':'blah', 'subject':'test comment'})
comment.save()

In [5]:
df = pd.read_csv('http://bit.ly/drinksbycountry')
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [11]:
import numpy as np
df.loc[:, 'beer_servings':'wine_servings'].apply(np.argmax,axis=1)

/var/www/atlasbiowork/venv/lib/python3.5/site-packages/numpy/core/fromnumeric.py:57: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.
  return getattr(obj, method)(*args, **kwds)

0        beer_servings
1      spirit_servings
2        beer_servings
3        wine_servings
4        beer_servings
5      spirit_servings
6        wine_servings
7      spirit_servings
8        beer_servings
9        beer_servings
10     spirit_servings
11     spirit_servings
12     spirit_servings
13       beer_servings
14     spirit_servings
15     spirit_servings
16       beer_servings
17       beer_servings
18       beer_servings
19       beer_servings
20       beer_servings
21     spirit_servings
22       beer_servings
23       beer_servings
24       beer_servings
25     spirit_servings
26       beer_servings
27       beer_servings
28       beer_servings
29       beer_servings
            ...
163    spirit_servings
164      beer_servings
165      wine_servings
166      wine_servings
167    spirit_servings
168    spirit_servings
169    spirit_servings
170      beer_servings
171      wine_servings
172      beer_servings
173      beer_servings
174      beer_servings
175      beer_servings
176      beer_servings
177    spirit_servings
178    spirit_servings
179      beer_servings
180    spirit_servings
181    spirit_servings
182      beer_servings
183      beer_servings
184      beer_servings
185      wine_servings
186    spirit_servings
187      beer_servings
188      beer_servings
189      beer_servings
190      beer_servings
191      beer_servings
192      beer_servings
Length: 193, dtype: object

In [16]:
#this is a slick way to break out the json field into columns and add to df
d = pd.concat([df.drop('values', axis=1), pd.DataFrame(df['values'].tolist())], axis=1)
d = d[['id','site_id','type_id','parentobs_id','entered','observer',
       'label1','value1','label2','value2','label3','value3','start_date','end_date','description',
       'photo1','photo2']]
d

,id,site_id,type_id,parentobs_id,entered,observer,label1,value1,label2,value2,label3,value3,start_date,end_date,description,photo1,photo2
0,7001,802,37,None,2017-08-31 15:21:25.843768+00:00,Buz Kloot,percent relative change in organic matter per ...,173,"percent organic matter, beginning measurement",1.2,"percent organic matter, last measurement",2.8,2016-04-13,2017-01-18,"No-till situation for around 20 years, some us...",NaN,NaN
1,7057,836,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,30.2403,"organic matter, first measure",1.7,"organic matter, second measure",2.1,2015-12-11,2016-09-20,"No-till situation for around 20 years, some us...",NaN,NaN
2,7056,835,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,31.4222,"organic matter, first measure",1.6,"organic matter, second measure",2.1,2016-01-06,2017-01-03,"No-till situation for around 20 years, some us...",NaN,NaN
3,7055,834,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,31.7529,"organic matter, first measure",1.9,"organic matter, second measure",2.5,2016-01-06,2017-01-03,"No-till situation for around 20 years, some us...",NaN,NaN
4,7054,833,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-32.5893,"organic matter, first measure",1.2,"organic matter, second measure",0.9,2016-04-13,2017-01-18,"No-till situation for around 20 years, some us...",NaN,NaN
5,7053,832,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,32.7942,"organic matter, first measure",0.6,"organic matter, second measure",0.8,2016-01-06,2017-01-11,"No-till situation for around 20 years, some us...",NaN,NaN
6,7052,831,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-32.972,"organic matter, first measure",4.1,"organic matter, second measure",3.4,2016-03-15,2016-09-20,"No-till situation for around 20 years, some us...",NaN,NaN
7,7051,830,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-33.0317,"organic matter, first measure",1.5,"organic matter, second measure",0.9,2015-09-01,2016-11-16,"No-till situation for around 20 years, some us...",NaN,NaN
8,7050,829,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-33.2187,"organic matter, first measure",2.9,"organic matter, second measure",2,2015-12-11,2016-11-16,"No-till situation for around 20 years, some us...",NaN,NaN
9,7049,828,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,34.2402,"organic matter, first measure",1.3,"organic matter, second measure",1.6,2016-01-06,2016-09-08,"No-till situation for around 20 years, some us...",NaN,NaN
10,7047,826,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-35.113,"organic matter, first measure",1.1,"organic matter, second measure",0.9,2016-03-15,2016-09-20,"No-till situation for around 20 years, some us...",NaN,NaN
11,7046,825,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,35.5519,"organic matter, first measure",1.6,"organic matter, second measure",2.2,2015-09-01,2016-09-20,"No-till situation for around 20 years, some us...",NaN,NaN
12,7045,824,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-35.6794,"organic matter, first measure",0.9,"organic matter, second measure",0.6,2015-12-11,2016-11-16,"No-till situation for around 20 years, some us...",NaN,NaN
13,7044,823,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-38.2279,"organic matter, first measure",1.4,"organic matter, second measure",0.9,2015-12-11,2016-11-16,"No-till situation for around 20 years, some us...",NaN,NaN
14,7043,822,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,38.6734,"organic matter, first measure",1.3,"organic matter, second measure",1.8,2016-01-06,2017-01-03,"No-till situation for around 20 years, some us...",NaN,NaN
15,7042,821,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-39.6739,"organic matter, first measure",1.2,"organic matter, second measure",0.9,2016-03-31,2016-11-16,"No-till situation for around 20 years, some us...",NaN,NaN
16,7041,820,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-40.6572,"organic matter, first measure",3.8,"organic matter, second measure",3,2016-03-15,2016-09-20,"No-till situation for around 20 years, some us...",NaN,NaN
17,7040,819,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,41.215,"organic matter, first measure",1.8,"organic matter, second measure",2.3,2016-01-06,2016-09-08,"No-till situation for around 20 years, some us...",NaN,NaN
18,7039,818,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-41.3832,"organic matter, first measure",1.4,"organic matter, second measure",1.1,2016-03-15,2016-09-20,"No-till situation for around 20 years, some us...",NaN,NaN
19,7038,817,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-42.3188,"organic matter, first measure",1.5,"organic matter, second measure",1.1,2016-03-31,2016-11-16,"No-till situation for around 20 years, some us...",NaN,NaN
20,7037,816,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,47.4026,"organic matter, first measure",1.1,"organic matter, second measure",1.5,2016-04-13,2017-01-18,"No-till situation for around 20 years, some us...",NaN,NaN
21,7036,815,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,47.4026,"organic matter, first measure",0.6,"organic matter, second measure",0.9,2015-12-03,2016-12-22,"No-till situation for around 20 years, some us...",NaN,NaN
22,7004,805,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,64.2606,"percent organic matter, first measure",1.6,"percent organic matter, second measure",2.4,2015-12-11,2016-09-20,"No-till situation for around 20 years, some us...",NaN,NaN
23,7003,804,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-79.3478,"percent organic matter, first measure",1.4,"percent organic matter, second measure",0.7,2016-03-31,2016-11-16,"No-till situation for around 20 years, some us...",NaN,NaN
24,7013,814,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-52.6696,"percent organic matter, first measure",1.1,"percent organic matter, second measure",0.8,2016-03-15,2016-09-20,"No-till situation for around 20 years, some us...",NaN,NaN
25,7012,813,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-52.8986,"percent organic matter, first measure",2.1,"percent organic matter, second measure",1.4,2016-03-31,2016-11-16,"No-till situation for around 20 years, some us...",NaN,NaN
26,7011,812,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,54.4957,"percent organic matter, first measure",2.2,"percent organic matter, second measure",3.1,2015-12-09,2016-09-08,"No-till situation for around 20 years, some us...",NaN,NaN
27,7010,811,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,-56.0102,"percent organic matter, first measure",1.7,"percent organic matter, second measure",1.1,2016-03-31,2016-11-16,"No-till situation for around 20 years, some us...",NaN,NaN
28,7009,810,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,56.3085,"percent organic matter, first measure",2.5,"percent organic matter, second measure",3.9,2016-01-06,2017-01-03,"No-till situation for around 20 years, some us...",NaN,NaN
29,7008,809,37,None,2017-08-01 00:00:00+00:00,Buz Kloot,percent relative change in organic matter per ...,57.9365,"percent organic matter, first measure",1,"percent organic matter, second measure",1.3,2016-03-15,2016-09-20,"No-till situation for around 20 years, some us...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,352,228,37,None,2016-12-06 19:23:21.052000+00:00,None,tons C per ha per yr,1.09,None,None,None,None,None,None,"On mixed-grass Wyoming rangeland, heavy grazin...",observations/change_highplains.jpg,NaN
61,351,196,37,None,2016-12-06 19:23:21.049000+00:00,"Peter Donovan, Lora Soderquist","percent total carbon, 0-10 cm",2.53-2.63,"percent total carbon, 10-25 cm",2.66-2.67,"percent total carbon, 25-40 cm",2.67-2.76,2011-08-05,2016-07-06,Holistically managed ranch; 5% north slope jus...,observations/milt_Aug5-2011_008.jpg,NaN
62,350,227,37,None,2016-12-06 19:23:21.047000+00:00,"Blain Hjertaas, Peter Donovan","percent total carbon, 0-10 cm",4.46-5.48,"percent total carbon, 10-25 cm",1.41-2.08,"percent total carbon, 25-40 cm",1.81-2.11,30-Oct-11,20-Oct-14,"30 years in grass from farming, recently start...",observations/mcne_mcne1.png,
63,349,226,37,None,2016-12-06 19:23:21.043000+00:00,Peter Donovan,"percent total carbon, 0-10 cm",1.674 to 1.902,"percent total carbon, 10-30 cm",1.171 to 1.357,tons of carbon per hectare,48.7 to 55.5,24-Sep-10,4-Oct-13,"'CRP Museum,' an exclosure in the Woods pastur...",,
64,348,225,37,None,2016-12-06 19:23:21.032000+00:00,,tons C per ha per yr,0.46,,,,,1/1/1959,1/1/2003,<em>Journal of Environmental Quality</em>39:79...,,
65,347,224,37,None,2016-12-06 19:23:21.023000+00:00,,percent per year in top 15 cm,29,,,,,1/1/2001,1/1/2003,"In a 3-year study from 2001 to 2003, Spanish r...",,
66,346,195,37,None,2016-12-06 19:23:21.021000+00:00,"Peter Donovan, Richard King","percent total carbon, 0-10 cm",2.6-2.97,"percent total carbon, 10-25 cm",1.23-1.36,"percent total carbon, 25-40 cm",0.94-1.034,27-Jan-11,3/10/2015,"NE exposure, 2% slope, moist clay loam, few ro...",observations/king_jan_2011_361.jpg,
67,345,194,37,None,2016-12-06 19:23:21.011000+00:00,"Peter Donovan, Richard King","percent total carbon, 0-10 cm",1.65-1.7,"percent total carbon, 10-25 cm",0.862-1.06,"percent total carbon, 25-40 cm",0.839-0.853,27-Jan-11,3/9/2015,"SSW exposure, 2% slope, moist sandy loam, no r...",observations/king_20150309_140629.jpg,
68,344,223,37,None,2016-12-06 19:23:20.986000+00:00,,percent total carbon in 1986,2.3,percent total carbon in 2007,1.53,percent per year to 20 cm,-1.9,1/1/1986,1/1/2007,(https://www.soils.org/publications/sssaj/pdfs...,,
69,343,193,37,None,2016-12-06 19:17:04.773000+00:00,Peter Donovan,"percent total carbon, 0-10 cm",7.61-10,"percent total carbon, 10-25 cm",5.84-7.69,"percent total carbon, 25-40 cm",5.26-6.55,7/28/2011,7/1/2016,"Subirrigated meadow used for feeding. Flat, mo...",observations/jaff_ja_012.jpg,
70,342,222,37,None,2016-12-06 19:17:04.772000+00:00,David Johnson,"percent total carbon gain per year, 0-30 cm",46,,,,,6/1/2010,10/1/2014,"Level, irrigated, agricultural plot sampled Ju...",,
71,341,221,37,None,2016-12-06 19:17:04.764000+00:00,,tons C per ha per yr,-2,,,,,,,"Ecology 74(2), March 1993, 583-598 reports on ...",,
72,340,220,37,None,2016-12-06 19:17:04.760000+00:00,,cm of peat per year,-2.5,,,,,1852,1/1/2007,This post shows subsidence of peatlands in the...,observations/change_holmepost.jpg,
73,339,219,37,None,2016-12-06 19:17:04.757000+00:00,Peter Donovan,"percent total carbon, 0-10 cm",3.76-4.95,"percent total carbon, 10-25 cm",3.92-4.7,"percent total carbon, 25-40 cm",4.59-4.08,29-Oct-11,23-Oct-14,Holistically managed grazing operation. Existi...,observations/hjer_hjer1.png,
74,338,218,37,None,2016-12-06 19:17:04.751000+00:00,,percent organic matter per year in plow layer,1.3,,,,,1/1/1949,1/1/1989,On Highfield at the Rothamsted Research facili...,observations/change_rothamsted.jpg,
75,337,192,37,None,2016-12-06 19:17:04.744000+00:00,Peter Donovan,"percent total carbon, 0-10 cm",2.98-3.3,"percent total carbon, 10-25 cm",2.67-2.5,"percent total carbon, 25-40 cm",1.84-1.8,5/3/2011,5/1/2016,Flat field seeded w. biennial mixture 9/15/10 ...,observations/fllp_fernroadMay2011_003.jpg,
76,336,216,37,None,2016-12-06 19:17:04.742000+00:00,,"total organic carbon, percent, 2012-15",1.25-4.04,depth of sampling,0-10cm,,,,,The property is covered with native pastures w...,,
77,335,215,37,None,2016-12-06 19:17:04.740000+00:00,,tons C per ha per yr in top 90 cm,1.17,,,,,1/1/1994,1/1/2006,(http://www.ars.usda.gov/SP2UserFiles/Place/66...,observations/change_salemroadpasture.jpg,
78,334,214,37,None,2016-12-06 19:17:04.738000+00:00,,"No-till with cover crop, gain in tons C/ha/yr ...",0.85,"Chisel plow with cover crop, gain in tons C/ha...",0.49,"Moldboard plow with cover crop, gain in tons C...",0.1,9/1/2000,6/1/2012,Kenneth Olson at the University of Illinois fo...,,
79,333,213,37,None,2016-12-06 19:17:04.736000+00:00,,tons C/ha in 1988 for moldboard tillage,51.4,tons C/ha in 2009,36.2,tons C per ha per yr to 75 cm,-0.76,9/1/2000,6/1/2012,Kenneth Olson at the University of Illinois me...,,
80,332,212,37,None,2016-12-06 19:17:04.734000+00:00,,tons C per ha per yr in top 15 cm,0.56,,,,,,,A 10-year study at the University of Californi...,observations/change_russellranch.jpg,
81,331,211,37,None,2016-12-06 19:17:04.732000+00:00,Peter Donovan,"percent total carbon, 0-10 cm",6.18-7.84,"percent total carbon, 10-25 cm",1.88-3.08,"percent total carbon, 25-40 cm",1.19-1.06,1-Nov-11,23-Oct-14,"Holistically managed ranch. Farmed before 91, ...",observations/corc_corc1.png,
82,330,210,37,None,2016-12-06 19:17:04.730000+00:00,,tons C per ha per yr in top 15 cm,0.33,,,,,,,"The Breton Plots near Breton, Alberta were est...",observations/change_breton.jpg,
83,329,209,37,None,2016-12-06 19:17:04.728000+00:00,,tons C per ha per yr to 20 cm,0.84,,,,,,,"Long-term experiment, 1992-2005, at Book Book,...",,
84,328,208,37,None,2016-12-06 19:17:04.725000+00:00,Jeff Creque,"percent increase in organic matter per year, i...",6,,,,,1/1/1979,1/1/1999,From 2.5% organic matter in top 12 inches in 1...,,
85,327,207,37,None,2016-12-06 19:17:04.717000+00:00,,"percent increase in organic matter per year, i...",90,,,,,1/1/2008,1/1/2009,The Questa pasture of the Blackstone Ranch (he...,observations/change_questatransect09.jpg,
86,326,206,37,None,2016-12-06 19:13:30.211000+00:00,,"percent increase in organic matter per year, i...",58,,,,,1/1/2008,1/1/2009,The Blackstone Ranch (headquartered in Ranchos...,observations/change_redbarnphoto2008.jpg,
87,325,205,37,None,2016-12-06 19:13:30.200000+00:00,,tons C per hectare,-23,,,,,,,The 2002 Biscuit Fire in southwest Oregon burn...,observations/change_wildfire_biscuit.jpg,
88,324,204,37,None,2016-12-06 19:04:25.401000+00:00,,cm of peat per year,-2,,,,,1/1/1923,1/1/2007,"This post was put in to bedrock in 1923, in de...",observations/change_bellegladepost.jpg,
89,296,217,37,None,2016-12-06 12:16:15.306000+00:00,,"percent organic matter 1991, 0-6-inch depth",1.7,percent organic matter 2013,6.1,,,1/1/1991,1/1/2013,(http://www.http://asso-base.fr/sites/asso-bas...,observations/change_gabebrown.jpg,

In [27]:
qs = Observation.objects.all().filter(values__icontains='moist')
df = pd.DataFrame(list(qs.values()))
df

,entered,id,observer_id,parentobs_id,site_id,type_id,values
0,2017-11-24 04:44:07.792966+00:00,7241,1,3570.0,678,31,"{'description': 'moist', 'top_cm': '25', 'samp..."
1,2017-11-24 04:42:24.789009+00:00,7239,1,3566.0,678,31,"{'description': 'moist and well aggregated, wo..."
2,2017-11-24 04:41:20.148833+00:00,7238,1,7235.0,678,19,"{'drop30_2': None, 'date': '2017-11-19', 'ring..."
3,2017-11-24 04:28:56.917251+00:00,7235,1,1218.0,678,40,"{'observers': 'Joe Morris', 'linephoto1': 'obs..."
4,2017-11-24 04:23:35.086384+00:00,7234,1,3564.0,677,31,"{'description': 'moist', 'top_cm': '25', 'samp..."
5,2017-11-24 04:22:40.335818+00:00,7233,1,3562.0,677,31,"{'description': 'moist', 'top_cm': '10', 'samp..."
6,2017-11-24 04:21:36.519531+00:00,7232,1,3560.0,677,31,"{'description': 'moist', 'top_cm': '0', 'sampl..."
7,2017-11-24 04:11:14.835636+00:00,7229,1,7228.0,677,19,"{'drop30_2': None, 'date': '2017-11-19', 'ring..."
8,2017-11-24 04:07:42.572145+00:00,7228,1,1217.0,677,40,"{'observers': 'Joe Morris', 'linephoto1': 'obs..."
9,2017-11-18 04:34:33.866246+00:00,7207,1,7199.0,863,31,"{'description': 'moist clay', 'top_cm': '28', ..."
10,2017-11-18 04:33:42.182195+00:00,7206,1,7199.0,863,31,{'description': 'slightly moist blocky clay lo...
11,2017-11-18 04:29:42.171943+00:00,7204,1,7199.0,863,31,"{'description': 'moist clay', 'top_cm': '25', ..."
12,2017-11-18 04:26:46.262659+00:00,7203,1,7199.0,863,31,"{'description': 'slightly moist clay loam', 't..."
13,2017-11-18 04:18:23.745527+00:00,7199,1,NaN,863,40,"{'observers': 'Ben Munger', 'linephoto1': 'obs..."
14,2017-11-16 04:21:17.753682+00:00,7195,1,7187.0,862,31,"{'description': 'moist sandy loam', 'top_cm': ..."
15,2017-11-16 04:19:52.575380+00:00,7194,1,7187.0,862,31,"{'description': 'somewhat moist sandy loam', '..."
16,2017-11-16 04:17:55.956970+00:00,7192,1,7187.0,862,31,"{'description': 'moist red sandy loam, no fizz..."
17,2017-11-13 20:27:19.373825+00:00,7186,1,NaN,862,19,"{'drop30_2': None, 'date': '2017-11-13', 'ring..."
18,2017-11-12 01:33:32.185041+00:00,7177,1,NaN,861,19,"{'drop30_4': None, 'ringDesc_2': 'Average cove..."
19,2017-11-10 15:21:04.229512+00:00,7166,1,NaN,860,40,"{'observers': 'Patrick O'Neill', 'linephoto1':..."
20,2017-11-10 14:28:25.668427+00:00,7165,1,NaN,860,19,"{'drop30_2': None, 'date': '2017-11-09', 'ring..."
21,2017-11-09 04:43:16.940714+00:00,7164,1,7117.0,854,31,"{'description': 'moist', 'top_cm': '28', 'samp..."
22,2017-11-09 04:40:14.110739+00:00,7161,1,7117.0,854,31,"{'description': 'fairly good moisture here', '..."
23,2017-11-09 03:48:42.190025+00:00,7157,1,7150.0,859,31,"{'description': 'fizzes with vinegar, some moi..."
24,2017-11-09 03:45:38.208023+00:00,7154,1,7150.0,859,31,"{'description': 'fizzes with vinegar, slightly..."
25,2017-11-09 03:12:29.616858+00:00,7149,1,7141.0,856,31,"{'description': 'moist clay loam, no worms, fi..."
26,2017-11-09 03:09:32.640394+00:00,7146,1,7141.0,856,31,"{'description': 'somewhat moist clay loam, no ..."
27,2017-11-05 21:09:11.528410+00:00,7138,1,7131.0,853,31,"{'description': 'moist sandy loam', 'top_cm': ..."
28,2017-11-05 21:07:36.591579+00:00,7137,1,7131.0,853,31,"{'description': 'no worms, somewhat moist', 't..."
29,2017-11-05 01:58:37.098140+00:00,7130,1,7123.0,857,31,"{'description': 'moist sandy loam, no worms se..."
...,...,...,...,...,...,...,...
127,2016-04-01 00:00:00+00:00,1146,1,NaN,625,40,"{'observers': 'Brandon Dalton', 'linephoto1': ..."
128,2016-04-01 00:00:00+00:00,1145,1,NaN,624,40,"{'observers': 'Brandon Dalton', 'linephoto1': ..."
129,2016-04-01 00:00:00+00:00,1143,1,NaN,622,40,"{'observers': 'Chad Bitler', 'linephoto1': 'ob..."
130,2016-04-01 00:00:00+00:00,1140,1,NaN,620,40,"{'observers': None, 'linephoto1': 'observation..."
131,2016-04-01 00:00:00+00:00,1138,1,NaN,619,40,"{'observers': None, 'linephoto1': 'observation..."
132,2016-04-01 00:00:00+00:00,1128,1,NaN,611,40,"{'observers': None, 'linephoto1': 'observation..."
133,2016-04-01 00:00:00+00:00,1122,1,NaN,192,40,"{'observers': None, 'linephoto1': 'observation..."
134,2016-04-01 00:00:00+00:00,1113,1,NaN,598,40,"{'observers': 'Joe King', 'linephoto1': 'obser..."
135,2016-04-01 00:00:00+00:00,1108,1,NaN,593,40,"{'observers': 'Tyler Carlson', 'linephoto1': '..."
136,2016-04-01 00:00:00+00:00,1088,1,NaN,577,40,"{'observers': None, 'linephoto1': 'observation..."
137,2016-04-01 00:00:00+00:00,1083,1,NaN,574,40,"{'observers': None, 'linephoto1': 'observation..."
138,2016-04-01 00:00:00+00:00,1081,1,NaN,573,40,"{'observers': None, 'linephoto1': 'observation..."
139,2016-04-01 00:00:00+00:00,1079,1,NaN,140,40,"{'observers': 'Didi Pershouse, Dennis Hoyle, D..."
140,2016-04-01 00:00:00+00:00,1061,1,NaN,555,40,"{'observers': None, 'linephoto1': 'observation..."
141,2016-04-01 00:00:00+00:00,1051,1,NaN,543,40,"{'observers': None, 'linephoto1': 'observation..."
142,2016-04-01 00:00:00+00:00,1048,1,NaN,541,40,"{'observers': 'Bill Burrows', 'linephoto1': 'o..."
143,2016-04-01 00:00:00+00:00,1044,1,NaN,538,40,"{'observers': None, 'linephoto1': 'observation..."
144,2016-04-01 00:00:00+00:00,1043,1,NaN,537,40,"{'observers': None, 'linephoto1': 'observation..."
145,2016-04-01 00:00:00+00:00,1042,1,NaN,536,40,"{'observers': None, 'linephoto1': 'observation..."
146,2016-04-01 00:00:00+00:00,1039,1,NaN,533,40,"{'observers': None, 'linephoto1': 'observation..."
147,2016-04-01 00:00:00+00:00,1038,1,NaN,532,40,"{'observers': None, 'linephoto1': 'observation..."
148,2016-04-01 00:00:00+00:00,1036,1,NaN,530,40,"{'observers': 'Colin Burgess', 'linephoto1': '..."
149,2016-04-01 00:00:00+00:00,1031,1,NaN,525,40,"{'observers': None, 'linephoto1': 'observation..."
150,2016-04-01 00:00:00+00:00,1030,1,NaN,524,40,"{'observers': None, 'linephoto1': 'observation..."
151,2016-04-01 00:00:00+00:00,1029,1,NaN,523,40,"{'observers': None, 'linephoto1': 'observation..."
152,2016-04-01 00:00:00+00:00,1028,1,NaN,522,40,"{'observers': None, 'linephoto1': 'observation..."
153,2016-04-01 00:00:00+00:00,1027,1,NaN,521,40,"{'observers': None, 'linephoto1': 'observation..."
154,2016-04-01 00:00:00+00:00,1026,1,NaN,520,40,"{'observers': None, 'linephoto1': 'observation..."
155,2016-04-01 00:00:00+00:00,1021,1,NaN,518,40,{'observers': 'GRO team and workshop; and Did...
156,2016-04-01 00:00:00+00:00,1004,1,NaN,503,40,"{'observers': None, 'linephoto1': None, 'mapPh..."