In [1]:
import pandas as pd, numpy as np, json
from obs.models import Observation

In [6]:
mysites=[461,462,463,800,801]
df = pd.DataFrame(list(Observation.objects.all().values()))
df = df[df.site_id.isin(mysites)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 296
Data columns (total 7 columns):
entered         52 non-null datetime64[ns, UTC]
id              52 non-null int64
observer_id     52 non-null int64
parentobs_id    43 non-null float64
site_id         52 non-null int64
type_id         52 non-null int64
values          52 non-null object
dtypes: datetime64[ns, UTC](1), float64(1), int64(4), object(1)
memory usage: 3.2+ KB

In [7]:
df

,entered,id,observer_id,parentobs_id,site_id,type_id,values
0,2018-04-27 20:29:54.531020+00:00,7345,45,4453.0,463,33,"{'unit2': None, 'value2': None, 'unit3': None,..."
1,2018-04-27 20:29:54.529194+00:00,7344,45,4452.0,463,33,"{'unit2': None, 'value2': None, 'unit3': None,..."
2,2018-04-27 20:29:54.527397+00:00,7343,45,4450.0,463,33,"{'unit2': None, 'value2': None, 'unit3': None,..."
3,2018-04-27 20:29:54.525703+00:00,7342,45,4448.0,461,33,"{'unit2': None, 'value2': None, 'unit3': None,..."
4,2018-04-27 20:29:54.524017+00:00,7341,45,4447.0,461,33,"{'unit2': None, 'value2': None, 'unit3': None,..."
5,2018-04-27 20:29:54.522406+00:00,7340,45,4446.0,461,33,"{'unit2': None, 'value2': None, 'unit3': None,..."
6,2018-04-27 20:29:54.520916+00:00,7339,45,4437.0,800,33,"{'unit2': None, 'value2': None, 'unit3': None,..."
7,2018-04-27 20:29:54.519347+00:00,7338,45,4436.0,800,33,"{'unit2': None, 'value2': None, 'unit3': None,..."
8,2018-04-27 20:29:54.517858+00:00,7337,45,4435.0,800,33,"{'unit2': None, 'value2': None, 'unit3': None,..."
9,2018-04-27 20:29:54.516384+00:00,7336,45,4453.0,462,33,"{'unit2': None, 'value2': None, 'unit3': None,..."
10,2018-04-27 20:29:54.514901+00:00,7335,45,4452.0,462,33,"{'unit2': None, 'value2': None, 'unit3': None,..."
11,2018-04-27 20:29:54.513354+00:00,7334,45,4450.0,462,33,"{'unit2': None, 'value2': None, 'unit3': None,..."
12,2018-04-27 20:29:54.511808+00:00,7333,45,4444.0,801,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
13,2018-04-27 20:29:54.510368+00:00,7332,45,4444.0,801,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
14,2018-04-27 20:29:54.508914+00:00,7331,45,4453.0,463,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
15,2018-04-27 20:29:54.507385+00:00,7330,45,4452.0,463,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
16,2018-04-27 20:29:54.505939+00:00,7329,45,4450.0,463,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
17,2018-04-27 20:29:54.504513+00:00,7328,45,4448.0,461,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
18,2018-04-27 20:29:54.502989+00:00,7327,45,4447.0,461,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
19,2018-04-27 20:29:54.500539+00:00,7326,45,4446.0,461,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
20,2018-04-27 20:29:54.498848+00:00,7325,45,4437.0,800,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
21,2018-04-27 20:29:54.497328+00:00,7324,45,4436.0,800,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
22,2018-04-27 20:29:54.495635+00:00,7323,45,4435.0,800,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
23,2018-04-27 20:29:54.494097+00:00,7322,45,4450.0,462,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
24,2018-04-27 20:29:54.492240+00:00,7321,45,4453.0,462,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
25,2018-04-27 20:29:54.490323+00:00,7320,45,4452.0,462,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
26,2018-04-27 20:29:54.483488+00:00,7319,45,4450.0,462,33,"{'unit2': 'total nitrogen percent', 'value2': ..."
272,2017-08-25 13:07:50.833194+00:00,4454,1,4432.0,462,31,"{'date': '2017-08-21', 'num_composited': '10',..."
273,2017-08-25 13:06:44.405990+00:00,4453,1,4432.0,462,31,"{'date': '2017-08-21', 'num_composited': '8', ..."
274,2017-08-25 13:05:59.210367+00:00,4452,1,4432.0,462,31,"{'date': '0017-02-12', 'num_composited': '8', ..."
275,2017-08-25 13:04:55.641110+00:00,4450,1,4432.0,462,31,"{'date': '2017-08-21', 'num_composited': '8', ..."
276,2017-08-25 13:03:17.251355+00:00,4449,1,4445.0,461,31,"{'date': '2017-08-21', 'num_composited': '10',..."
277,2017-08-25 13:02:16.123878+00:00,4448,1,4445.0,461,31,"{'date': '2017-08-21', 'num_composited': '8', ..."
278,2017-08-25 13:01:32.191313+00:00,4447,1,4445.0,461,31,"{'date': '2017-08-21', 'num_composited': '8', ..."
279,2017-08-25 13:00:17.061887+00:00,4446,1,4445.0,461,31,"{'date': '2017-08-21', 'num_composited': '8', ..."
280,2017-08-25 12:57:16.891257+00:00,4445,1,NaN,461,40,"{'date': '2017-08-21', 'linephoto1': 'observat..."
281,2017-08-23 14:47:42.784635+00:00,4444,1,NaN,801,31,"{'date': '2017-08-22', 'num_composited': '2', ..."
282,2017-08-23 14:44:38.140279+00:00,4443,1,4439.0,463,31,"{'date': '2017-08-22', 'num_composited': '10',..."
283,2017-08-23 14:43:40.524403+00:00,4442,1,4439.0,463,31,"{'date': '2017-08-22', 'num_composited': '8', ..."
284,2017-08-23 14:42:29.829513+00:00,4441,1,4439.0,463,31,"{'date': '2017-08-22', 'num_composited': '8', ..."
285,2017-08-23 14:39:02.346933+00:00,4440,1,4439.0,463,31,"{'date': '2017-08-22', 'num_composited': '8', ..."
286,2017-08-23 14:36:58.486734+00:00,4439,1,NaN,463,40,"{'date': '2017-08-22', 'linephoto1': 'observat..."
287,2017-08-23 14:28:35.185025+00:00,4438,1,4433.0,800,31,"{'date': '2017-08-21', 'num_composited': '10',..."
288,2017-08-23 14:27:05.008379+00:00,4437,1,4433.0,800,31,"{'date': '2017-10-21', 'num_composited': '8', ..."
289,2017-08-23 14:25:41.220353+00:00,4436,1,4433.0,800,31,"{'date': '2017-08-21', 'num_composited': '8', ..."
290,2017-08-23 14:23:15.097535+00:00,4435,1,4433.0,800,31,"{'date': '2017-08-21', 'num_composited': '8', ..."
291,2017-08-23 14:19:25.181373+00:00,4434,1,NaN,800,19,"{'date': '2017-08-21', 'drop30_5': None, 'ring..."
292,2017-08-23 04:09:28.707043+00:00,4433,1,NaN,800,40,"{'date': '2017-08-21', 'linephoto1': 'observat..."
293,2017-08-23 03:55:33.551493+00:00,4432,1,NaN,462,40,"{'date': '2017-08-21', 'linephoto1': 'observat..."
294,2017-08-23 02:41:10.180124+00:00,4431,1,NaN,463,19,"{'date': '2017-08-22', 'drop30_5': None, 'ring..."
295,2017-08-22 13:38:10.182482+00:00,4430,1,NaN,462,19,"{'date': '2017-08-21', 'drop30_5': None, 'ring..."
296,2017-08-22 04:17:00.711862+00:00,4428,1,NaN,461,19,"{'date': '2017-08-21', 'drop30_5': None, 'ring..."

In [20]:
#generate a spreadsheet for soil analyses
plotID = 'Twin Rivers'
siteID = 850
df = pd.DataFrame(list(Observation.objects.filter(site_id=siteID).filter(type_id=33).values()))

In [21]:
#this is a slick way to break out the json field (named values) into columns and add to df
d = pd.concat([df.drop('values', axis=1), pd.DataFrame(df['values'].tolist())], axis=1)
#d = d[['id','site_id','type_id','parentobs_id','entered','observer',
       #'label1','value1','label2','value2','label3','value3','start_date','end_date','description',
       #'photo1','photo2']]
d = d.sort_values(['sampleID','date_analyzed'])
d = d[['entered', 'analysis', 'analysisNote', 'date_analyzed', 'lab', 'sampleID', 'unit1','value1',
       'unit2','value2', 'unit3', 'value3']]
d = d.replace(np.nan,'',regex=True)
d.to_csv(plotID + '.csv',index=False)